<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.name + "さんの投稿一覧"%>
      </h2>
      <table class="table">
        <tbody>
          <div class="user__card">
            <%= render partial: 'tweets/tweet', collection: @user.tweets %>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
